In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('./asxbets_posts.csv', delimiter='\t')

In [3]:
df.head()

,Date_UTC,Time,Body,User,Post
0,2020-06-13,03:39:33,Post for the weekend of 13-14 June *I thought ...,_TheLordOfRuin_,1
1,2020-06-13,03:47:08,Today wasn't even that red given where we open...,malbro08,0
2,2020-06-13,03:54:19,I was Kenny Rogers today knowing when to Hold ...,miamivice85,0
3,2020-06-13,04:18:01,Bring out the disco bears lads.,Albusmaddog,0
4,2020-06-13,14:27:16,Who is here holding NVX long term? I have legi...,Notarandomthrowaway1,0

In [31]:
def make_stock_col(row):
    '''Parse Body Text with Regex to extract, ASX
    Codes, make new column with a set of codes
    '''
    pattern = "[A-Z|1-9]{3,4}"
    regex = re.compile(pattern)
    codes = regex.findall(row['Body'])
    # remove duplicates
    codes = set(codes)
    if len(codes) == 0:
        codes = None
    row['ASX_Codes'] = codes
    
    return row

df = df.apply(make_stock_col, axis=1)

In [32]:
df.head()

,Date_UTC,Time,Body,User,Post,ASX_Codes
0,2020-06-13,03:39:33,Post for the weekend of 13-14 June *I thought ...,_TheLordOfRuin_,1,None
1,2020-06-13,03:47:08,Today wasn't even that red given where we open...,malbro08,0,None
2,2020-06-13,03:54:19,I was Kenny Rogers today knowing when to Hold ...,miamivice85,0,None
3,2020-06-13,04:18:01,Bring out the disco bears lads.,Albusmaddog,0,None
4,2020-06-13,14:27:16,Who is here holding NVX long term? I have legi...,Notarandomthrowaway1,0,"{BTC, NVX}"

In [48]:
# tilde is NOT operator for pandas
# get all posts including at least one ASX code.
df = df[~df['ASX_Codes'].isna()]
df.head()

,Date_UTC,Time,Body,User,Post,ASX_Codes
4,2020-06-13,14:27:16,Who is here holding NVX long term? I have legi...,Notarandomthrowaway1,0,"{BTC, NVX}"
13,2020-06-13,20:16:01,How many autists does it take to pump a stock ...,obnoxis,1,{NVX}
14,2020-06-13,20:18:39,Somebody go pump this stock on Whirlpool forum...,Richard_Fuld_2020,0,{EOFY}
17,2020-06-13,21:25:33,Much better throwing it into VUL,didgi98,0,{VUL}
18,2020-06-13,08:41:16,Glad I found this sub! Moved from NY to Syd an...,RatchetCliquet,1,{ASX}

In [59]:
'''Loop over ASX_Codes
if one code pop to new col
if more than one code, duplicate len(n-1)
    make current row with first popped value
    following rows

if more than one code, duplicate the rows
then reindex, 



Output: post0 | first ASX code mentioned |
        post0 | second ASX ...           |
        post1 | 

'''
df_test = df.copy()[:2]; df_test.head()

def func(row):
    if len(row['ASX_Codes']) > 1:
        # duplicate row
        return row.append(row)

df_test.apply(func, axis=1)

,Date_UTC,Time,Body,User,Post,ASX_Codes,Date_UTC,Time,Body,User,Post,ASX_Codes
4,2020-06-13,14:27:16,Who is here holding NVX long term? I have legi...,Notarandomthrowaway1,0.0,"{BTC, NVX}",2020-06-13,14:27:16,Who is here holding NVX long term? I have legi...,Notarandomthrowaway1,0.0,"{BTC, NVX}"
13,None,None,None,None,NaN,None,None,None,None,None,NaN,None